.topnav {
  background-color: rgb(63, 26, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(63, 26, 0);
  transition: 0.5s;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(150, 150, 150);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.topnav a:nth-of-type(11){
  color: #ddd;
  background-color:rgb(63, 26, 0);
}

body{
  text-align: center;
  color: rgb(90, 82, 82);
  background-color: rgb(255, 241, 224);
}


.container{
  display: flex;
  text-align: center;
  color: rgb(90, 82, 82);
  background-color: rgb(255, 241, 224);
  height: 1000px;
}

.left{
  background-color: rgb(243, 187, 135);
  min-height: 800px;
  max-height: auto;
  width: 350px;
  padding: 20px;
  text-align: center;
  position: fixed;
  
}

.location{
  border-bottom: 3px dotted rgb(71, 11, 7);
  padding-bottom: 40px;
}


.save-button {
  margin-top: 30px;
  color: rgb(255, 241, 224);
  background-color: rgb(71, 11, 7);

}

.save-button:hover {
  background-color: rgb(255, 241, 224);
  transition: 0.5s;
  color: rgb(71, 11, 7);
}

.box{
  margin-bottom: 20px;
}

.search{
  padding-top: 30px;
}


.search_box{
  background-color: rgb(255, 241, 224);

}

.location_button{
  margin-top: 0;
  margin: 5px;
  margin-left: 30px;
  width: 150px;
  height: 25px;
  align-content: flex-start;
  background-color: rgb(71, 11, 7);
  color: beige;
}


.location_button:hover {
  background-color: rgb(190, 190, 190);
  transition-duration: 0.5s;
}


.right{
  margin-left: 400px;
  width: 1000px;
  padding: 10px;
}


.offers{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dotted rgb(71, 11, 7);
}

.event{
  margin-top: 50px;

}

.service{
  margin-top: 50px;
}



a{
  color: rgb(129, 127, 127);
  text-decoration: none;
}

.items{
  margin-top: 50px;
  width: 500px;
  text-align: start;
  margin-left: 580px;
  margin-right: auto;
  
}