{% extends "entrance.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/signupDesign.css' %}">
{% endblock styles %}

{% block title %}
Sign Up - {{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}
<form method="POST" action="."> {% csrf_token %}
<!-- Name -->
<body>
  

  <div class="intro">
    {{ form.errors }}
    <div class="email-general">
      <h3 >Email:</h3>
      {% render_field form.email class+="email-box" placeholder='Enter your Email address here'%}
    </div>

    <div>
      <h3 class="name-general">First name:</h3>
      {% render_field form.first_name class+="name-box" placeholder='Enter your firstname here'%}
    </div>

    <div>
      <h3 class="surname-general">Last name:</h3>
      {% render_field form.last_name class+="surname-box" placeholder='Enter your surname here' %}
    </div>

    <div>
      <h3 class="password-general">Password:</h3>
      {% render_field form.password1 class+="password-box" placeholder='Add a strong password' %}
    </div>

    <div>
      <h3 class="password-general">Confirm password:</h3>
      {% render_field form.password2 class+="password-box" %}
    </div>

    <button class="done-button" type="submit">Sign up!</button><br />
    <button class="button-link" type="button">
      <a  href="{% url 'account_login' %}">Go back to login!</a>
    </button>
  </div>

</body>
  
{% endblock content %}