
.topnav {
  background-color: rgb(63, 26, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(63, 26, 0);
  transition: 0.5s;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(150, 150, 150);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav a:nth-of-type(11){
  color: #ddd;
  background-color:rgb(63, 26, 0);
}

a{
  color: rgb(129, 127, 127);
  text-decoration: none;
  font-size: bold;
}

a:hover{
  color:rgb(63, 26, 0);
  transition: 0.5s;
}
 


body{
  background-image: url('binocular.jpeg');
  text-align: center;
  color: rgb(90, 82, 82);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.fader{
  padding: 10px;
  width: 350px;
   background-color:  rgb(255, 241, 224, 0.7);
   min-height: 700px;
   max-height: 100%;
   text-align: center;
   margin-left: 800px;
}

.friend-request  {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dotted rgb(71, 11, 7);
  text-align: left;
}

.join-request{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dotted rgb(71, 11, 7);
  text-align: left;
}

.outstanding-offer{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.outsatnding-review{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px dotted rgb(71, 11, 7);
  text-align: left;
}

.heading{
  margin-top: 80px;
}



.items{
  margin-top: 50px;
  width: 500px;
  text-align: start;
  margin-left: 580px;
  margin-right: auto;
  
}



.save-button {
  height: 20px;
  width: 100px;
  margin-top: 0;
  color: rgb(255, 241, 224);
  background-color: rgb(71, 11, 7);
}

.save-button:hover {
  background-color: rgb(255, 241, 224);
  transition: 0.5s;
  color: rgb(71, 11, 7);
}


