/* columns  */

/* nav-bar line  */

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(63, 26, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(63, 26, 0);
  transition: 0.5s;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(150, 150, 150);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

body {
  color: rgb(63, 26, 0);
}

/* Biography line  */

.container {
  background-color: white;
  width: 1000px;
  height: auto;
  position: center;
  margin-left: 200px;
}

.first-column {
  height: 500px;
  background-image: url("red-lady.jpeg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.hello {
  margin-top: 50px;
}

a {
  color: rgb(71, 11, 7);
}

a:hover {
  color: bisque;
}

/* Picture  */

.profile-picture {
  background-color: rgb(255, 241, 224, 0.6);
  margin: 60px;
  padding: 20px;
  width: 200px;
  height: 460px;
}

.picture-text {
  text-align: center;
  margin-top: 60px;
  color: rgb(90, 82, 82);
}

/* Biography line  */

.second-column {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: rgb(255, 241, 224);
  margin: 50px 100px;
}

.first-part {
  width: 2000px;
}

.second-part {
  margin: 20px;
}

.about-me {
  border: rgb(71, 11, 7) solid 5px;
  padding: 100px;
  text-align: center;
  margin-left: 20px;
}

/* Self interest and excel part  */

.info-column {
  background-image: url("brush.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  align-content: flex-end;
  width: 500px;
  height: 500px;
}

.layer {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 241, 224, 0.6);
  width: 500px;
  height: 500px;
}

.interest-big {
  padding-left: 30px;
  padding-top: 80px;
}
.elements {
  padding-left: 30px;
  padding-right: 30px;
}

.forth-column {
  margin-left: 400px;
  margin-top: 100px;
}

.save-button {
  margin-top: 25px;
  width: 150px;
  height: 30px;
  margin-left: 30px;
  align-content: flex-start;
  background-color: rgb(71, 11, 7);
  color: beige;
}

.save-button:hover {
  background-color: rgb(190, 190, 190);
  transition-duration: 0.5s;
}

.save-button1 {
  margin-top: 0;
  margin: 5px;
  margin-left: 30px;
  width: 150px;
  height: 30px;
  align-content: flex-start;
  background-color: rgb(71, 11, 7);
  color: beige;
}

.save-button1:hover {
  background-color: rgb(190, 190, 190);
  transition-duration: 0.5s;
}
