{% extends "base_geo.html" %} 


{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'offers/forms_design.css' %}">
{% endblock styles %}

{% block title %}
Create Offer - {{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}
<form method="POST" action="." enctype='multipart/form-data'> {% csrf_token %}
<div class="container">
  <div class="first-column">
    <!-- profile-picture -->
    <div class="profile-picture">
        <!-- interest --> 
      <div class="title">
        <h4 class="name-title">Add a title for your offer</h4>
        {% render_field form.title class+="title-box" %}
      </div>
    </div>
  </div>

  <div class="second-column">
    <div class="first-part">
      <h1 class="about-me">Tell us about your offer</h1>
    </div>
    <div class="second-part">
      {% render_field form.description class+="title-box1" %}
    </div>
  </div>

  <div class="third-column">
    <div class="fader">
      <div class="start-date-general">
        <h4 class="date_description">Starting date:</h4>
        {% render_field form.start_date class+="date_box" %}
      </div>
      <div class="start-date-general">
        <h4 class="date_description">Ending date:</h4>
        {% render_field form.end_date class+="date_box" %}
      </div>
      <div class="start-date-general">
        <h4 class="date_description">Application deadline:</h4>
        {% render_field form.app_deadline class+="date_box" %}
      </div>
      <div class="start-date-general">
        <h4 class="date_description">Cancellation deadline:</h4>
        {% render_field form.cancel_deadline class+="date_box" %}
    </div>
  </div>
</div>
  <div class="info-column">
      <!-- Location -->  
      <div class="location">
        <h4>Add location:</h4>
          {% render_field form.location %}
      </div>
  </div>
 
  <div class="last-part">
    <div class="profile-picture-last">
      <!-- participants -->  
      <div class="participants">
        <h4>Capacity</h4>
        {% render_field form.capacity %}
      </div>
<!-- picture -->  
      <div class="offer-pic">
        <h4>Add a picture for your offer</h4>
      {% render_field form.image class="picture_pick" %}
    </div>
      <div class="service-type-general">
        <h4>Offer format:</h4>
        {% render_field form.offer_format %}
      </div>
      <div class="service-type-general">
        <h4>Offer type:</h4>
        {% render_field form.offer_type %}
      </div>
      <!-- Description -->  
      <div class="tag">
          <h4 data-toggle="tooltip" title="Tip: You can add as many tags, just separate them with comma(,)!">Add some related tags to your offer:</h4>
            {% render_field form_offertag.offer_tag_name class="tag_box" %}
      </div>

      <input class="save-button" type="submit" value="Submit offer!"/>


      <button class="save-button" type="button">
        <a class="save-button" href="{% url 'home_page' %}">Cancel</a>
      </button>

    </div>
  </div>
</div>
</form>
{{form.media}}

{% endblock content %}