{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'offers/outlookOffer.css' %}">
{% endblock styles %}

{% block title %}
  {{object.title}} - {{block.super}}
{% endblock title %}
  
{% block content %}

  <div class="container">

    {% if object.is_cancelled %}
      <h1 class="announcement">This offer has been cancelled by the owner.</h1>
    {% elif object.is_expired %}
      <h1 class="announcement">This offer has finished.</h1>
    {% endif %}

    {% if object.image %}
      <div class="first-column">
        <style>
          .first-column {
            background-image: url('{{object.image.url}}');
            background-repeat: no-repeat;
          }
        </style>
    {% endif %}
      <div class="profile-picture">
          <!-- interest --> 
        <div class="title">
          <h1> {{object.title}} </h1>
        </div>
      </div>
    </div>
    <div class="second-column">
      <div class="first-part">
        <h1 class="about-me">Offer description</h1>
      </div>
      <div class="second-part">
        <h3> {{object.description}} </h3>
      </div>
    </div>
    {% if object.image %}
      <div class="info-column">
        <style>
          .info-column {
            background-image: url('{{object.image.url}}');
            background-repeat: no-repeat;
          }
        </style>
    {% endif %}
      <div class="layer">
        <div class="theContainer">
          <div class="info-part">
            <h1>Offer details</h1>
              <h3>Offer type:</h3>
                <p> {{object.offer_type}} </p>
              <h3>Offer format:</h3>
                <p> {{object.offer_format}} </p>
                <h3>Location:</h3>
                {% if address != None %}
                  <p> {{address}} </p>
                {% else %}
                  <p> Location unknown </p>
                {% endif %}
              <h3>Starting date:</h3>
                <p> {{object.start_date|date:'j-M-Y, g:i A (e)'}} </p>
              <h3>Ending date:</h3>
                <p> {{object.end_date|date:'j-M-Y, g:i A (e)'}} </p>
              <h3>Required credits:</h3>
                <p> {{object.credit}} </p>
              <h3>Capacity:</h3>
                <p> {{object.capacity}} </p>
              <h3>Number of spots left:</h3>
                <p> {{spots_left}} </p>
              <h3>Application deadline:</h3>
                <p> {{object.app_deadline|date:'j-M-Y, g:i A (e)'}} </p>
              <h3>Cancellation deadline:</h3>
                <p> {{object.cancel_deadline|date:'j-M-Y, g:i A (e)'}} </p>
              <h3>Related tags:</h3>
                {% if tag_list.count > 0 %}
                  <p> {{tag_list|join:', '}} </p>
                {% else %}
                  <p> No related tags.</p>
                {% endif %}
          </div>
        
      <div class="button-parts">
        <div>
          {% if object.owner.id == request.user.profile.id %}
          <h3 class="participants">Participants:</h3>
            {% for obj in participants %}
              <a href="{%url 'profile_look' pk=obj.id %}">{{obj.f_name}} {{obj.l_name}}</a>
              {% load offer_extras %}
              {% if object.is_expired and owner_approval == 'Approved' and participant_approvals|get_item:obj and owner_to_participant|get_item:obj == None %}
                <button class="save-button" type="button">
                  <a class="button-link"  href="{%url 'rate_participant' offerID=object.id participantID=obj.id %}">Rate this participant!</a>
                </button>
              {% endif %}
            {% endfor %}
            
            {% if object.can_cancel %}
            <button class="save-button" type="button">
              <a class="button-link"  href="{%url 'cancel_offer' offerID=object.id %}">Cancel offer!</a>
            </button>
            {% endif %}
        </div>

          {% else %}
            <button class="save-button" type="button">
              <a class="button-link" href="{%url 'profile_look' pk=object.owner.id %}">Offerer's profile!</a>
            </button>
            {% if join_request and request.user.profile not in participants %}
              {% if object.can_cancel %}
                <button class="save-button" type="button">
                  <a class="button-link"  href="{%url 'cancel_join_request' join_request_id=join_request.id %}">Cancel request!</a>
                </button>
              {% endif %}
            {% elif request.user.profile in participants and not object.is_expired %}
                <button class="save-button" type="button">
                  <a class="button-link"  href="{%url 'leave_offer' offerID=object.id %}">Leave offer!</a>
                </button>
            {% elif request.user.profile in participants and object.is_expired and not is_reviewed %}
              <button class="save-button" type="button">
                <a class="button-link"  href="{%url 'rate_offer' offerID=object.id %}">Rate offer!</a>
              </button>
            {% else %}
              {% if object.can_apply and spots_left > 0 %}
                <button class="save-button" type="button">
                  <a class="button-link" href="{%url 'send_join_request' offerID=object.id %}">Apply!</a>
                </button>
              {% else %}
                <h2>You cannot apply at this time!</h2>
              {% endif %}
            {% endif %}
          {% endif %}
      </div>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}