
<!DOCTYPE html>
<html>
  <head>
    {% block styles %}
    {% endblock %}
    <title>{% block title %} Time Street {% endblock %}</title>
    <style>
      h1 {
        color: royalblue;
      }

      .work{
        color: sienna;
      }
    </style>

    <div class="topnav" id="myTopnav">
      <a href="{%url 'home_page' %}">Home</a>
      <a href="{%url 'offer_create' %}">Create an offer</a>
      <a href="{%url 'friends' pk=request.user.profile.id %}">Friends</a>
      <a href="#about">Activities</a>
      <a href="#about">Rate & Reviews</a>
      <a href="{%url 'notifications' %}">Notifications</a>
      <a href="{%url 'profile_look' pk=request.user.profile.id %}">Your profile</a>
      <a href="/accounts/logout/">Logout</a>
      <p>Outstanding credit: 7</p>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

  </head>

  <body>

    {% block content %} 
    {% endblock %} 

    {% block js %} 
    {% endblock %}

  </body>
</html>
