
<!DOCTYPE html>
<html>
  <head>
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    {% block styles %}
    {% endblock %}
    
    <title>{% block title %} Time Street {% endblock %}</title>


    <div class="topnav" id="myTopnav">
      <a href="{%url 'home_page' %}">Home</a>
      <a href="{%url 'timeline' %}">Timeline</a>
      <a href="{%url 'offer_create' %}">Create an offer</a>
      <a href="{%url 'friends' profileID=request.user.profile.id %}">Friends</a>
      <a href="{%url 'activity_background' profileID=request.user.profile.id %}">Activities</a>
      <a href="{%url 'rate_reviews' profileID=request.user.profile.id %}">Rate & Reviews</a>
      <a href="{%url 'notifications' %}">Notifications</a>
      <a href="{%url 'profile_look' pk=request.user.profile.id %}">Your profile</a>
      <a href="{%url 'inbox' %}">Inbox</a>
      <a href="/accounts/logout/">Logout</a>
      <a class="the-credit">Outstanding credit: {{request.user.profile.credit}} </a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

  </head>

  <body>

    {% include 'profiles/messages.html' %}

    {% block content %} 
    {% endblock %} 

    {% block js %} 
    {% endblock %}

  </body>
</html>
