{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/timeline.css' %}">
{% endblock styles %}

{% block title %}
Home - {{block.super}}
{% endblock title %}


{% block content %}

<div class="container">
  <div class="second-column">
    <div class="first-part">
      <h1 class="about-me">Recommended events and services for you</h1>
    </div>
    <div class="second-part">
      {% for offer in offer_list %}
        {% if offer.offer_status == 'Active' %}
      <h3>
        <a href="{% url 'offer_look' pk=offer.id %}"> {{offer.title}} </a>
      </h3>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% if friend_list.count != 0 %}
  <div class="info-column">
    <div class="layer">
      <h2 class="activity-head">Friends' activities</h2>
      <h3 class="activities">
        {% for f in friend_created_offers %}
          {% for o in f %}
            <p><a href="{%url 'profile_look' pk=o.owner.id %}">{{o.owner.f_name}}</a> is offering <a href="{%url 'offer_look' pk=o.id %}">{{o.title}}</a></p>
          {% endfor %}
        {% endfor %}
        {% for i in friend_list %}
          {% for j in i.accepted_offers.all %}
            <p><a href="{%url 'profile_look' pk=i.id %}">{{i.f_name}}</a> is joining <a href="{%url 'offer_look' pk=j.id %}">{{j.title}}</a></p>
          {% endfor %}
        {% endfor %}
        {% if overflow %}
          <p>Tap <a href="#">here</a> to see all the activities</p>
        {% endif %}
      </h3>
    </div>
  </div>
{% endif %}

{% endblock %}
