{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/timeline.css' %}">
{% endblock styles %}

{% block title %}
Home - {{block.super}}
{% endblock title %}


{% block content %}

<div class="container">
  <div class="second-column">
    <div class="first-part">
      <h1 class="about-me">Recommended events and services for you</h1>
    </div>
    <div class="second-part">
      {% for offer in offer_list %}
      <h3>
        <a href="{% url 'offer_look' pk=offer.id %}"> {{offer.title}} </a>
      </h3>
      {% endfor %}
    </div>
  </div>
</div>

<div class="info-column">
  <div class="layer">
    <h2 class="activity-head">Friends' activities</h2>
    <h3 class="activities">
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>

      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>
      <p>
        <a href="#">Sarah Juarez</a> is joining
        <a href="#">Violon lesson</a> on 5/12/2021
      </p>

      <p>Tap <a href="#">here</a> to see all the activities</p>
    </h3>
  </div>
</div>

<div class="last-part">
  <div class="profile-picture">
    <h2 class="Notifications-head">Notifications</h2>
    <h3 class="notifications">
      <p><a href="#">Sarah Juarez</a> started Following you.</p>
      <p>
        <a href="#">Alex Blue</a> requested to join your<a href="#"
          >Paint party</a
        >
      </p>
      <p><a href="#">Mike Juarez</a> started Following you.</p>
      <p><a href="#">Mike Juarez</a> started Following you.</p>
      <p>
        <a href="#">Alex Blue</a> requested to join your<a href="#"
          >Paint party</a
        >
      </p>
      <p><a href="#">Sarah Juarez</a> started Following you.</p>
      <p>
        <a href="#">Alex Blue</a> requested to join your<a href="#"
          >Paint party</a
        >
      </p>

      <p>Tap <a href="#">here</a> to see all the Notifications</p>
    </h3>
  </div>
</div>

{% endblock %}
