{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/activity_background.css' %}">
{% endblock styles %}

{% block title %}
Activity Background - {{block.super}}
{% endblock title %}

{% block content %}
<h1 class="heading">Activity Background</h1>
  <div class="items">
    <h3>Created active offers</h3>
      {% if created_active_offers.count > 0 %}
        {% for object in created_active_offers %}
          <div>
            <p><a href="{% url 'offer_look' pk=object.id %}">{{object.title}}</a></p>
            {% if obj == request.user.profile %}
              <button class="save-button" type="button">
                <a href="{%url 'cancel_offer' offerID=object.id %}">Cancel offer!</a>
              </button>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <h4>No created offers.</h4>
      {% endif %}
    <h3>Joined offers</h3>
      {% if joined_offers.count > 0 %}
        {% for object in joined_offers %}
          <div>
            <p><a href="{%url 'offer_look' pk=object.id %}">{{object.title}}</a></p>
            {% if obj == request.user.profile %}
              <button class="save-button" type="button">
                <a href="{%url 'leave_offer' offerID=object.id %}">Leave offer!</a>
              </button>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <h4>No joined offers.</h4>
      {% endif %}
    <h3>Requested offers</h3>
      {% if outstanding_offers.count > 0 %}
        {% for object in outstanding_offers %}
          <div>
            <p><a href="{%url 'offer_look' pk=object.offer.id %}">{{object.offer.title}}</a></p>
            {% if obj == request.user.profile %}
              <button class="save-button" type="button">
                <a href="{%url 'cancel_join_request' join_request_id=object.id %}">Cancel request!</a>
              </button>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <h4>No requests to join any offers.</h4>
      {% endif %}
  <h3>Cancelled and Passive offers</h3>
    {% if cancelled_passive_offers.count > 0 %}
      {% for object in cancelled_passive_offers %}
        <div>
          <p><a href="{%url 'offer_look' pk=object.id}">{{object.title}}</a></p>
        </div>
      {% endfor %}
    {% else %}
      <h4>No cancelled or passive offers.</h4>
    {% endif %}
  </div>
{% endblock content %}