{% extends "base_geo.html" %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/Edit.css' %}">
  <!-- <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' /> -->
{% endblock styles %}

{% block title %}
{{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}
<form method="POST" action="." enctype='multipart/form-data'> {% csrf_token %}
  {{ form.media }}
  <div class="container">
    <div class="first-column">
      <div class="profile-picture">
        <h4 class="name-title">First name:</h4>
        {{form.f_name.errors}}
        {% render_field form.f_name %}
        <h4 class="name-title">Last name:</h4>
        {{form.l_name.errors}}
        {% render_field form.l_name %}
        <!-- image -->
        {% render_field form.image %}

      </div>
    </div>

    <div class="second-column">
      <div class="occupation-general">
        <h4 class="occupation-title">Occupation:</h4>
        {% render_field form.occupation class+="occupation-box" %}
      </div>
      <div class="education-general">
        <h4 class="education-title">Education:</h4>
        {% render_field form.education class+="education-box" %}
      </div>
    </div>

    <div class="third-column">
      <input class="save-button" type="submit" value="Save"/><br/>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'profile_look' pk=object.id %}">Cancel</a>
      </button>
      <div class="birthday-general">
        <h4 class="birthday-title">Date of Birth:</h4>
        {{form.birthday.errors}}
        {% render_field form.birthday class+="birthday-box" %}
      </div>
      <div class="description-general">
        <h4 class="description-title">Add a description:</h4>
        {% render_field form.description class+="description-box" %}
      </div>

      <div class="description-general">
        <h4 class="description-title" data-toggle="tooltip" title="You can add multiple skills and interests, just separate them with comma(,)">Add skill and interests:</h4>
        {% render_field skill_form.skill_name  class+="skill-box" data-toggle="tooltip" title="You can add multiple skills and interests, just separate them with comma(,)" %}
        {% render_field interest_form.interest_name class+="skill-box" data-toggle="tooltip" title="You can add multiple skills and interests, just separate them with comma(,)" %}
      </div>
      <div class="description-general">
        <h4 class="description-title" data-toggle="tooltip" title="You can remove multiple skills and interests, just separate them with comma(,)">Remove skill and interests:</h4>

        {% render_field skill_form.skill_name_remove class+="skill-box" data-toggle="tooltip" title="You can remove multiple skills and interests, just separate them with comma(,)"%}
        {% render_field interest_form.interest_name_remove class+="skill-box" data-toggle="tooltip" title="You can remove multiple skills and interests, just separate them with comma(,)"%}

        <div class="current">
        <h4>Current Skills</h4>
        {{object_skills|join:", "}}
        <h4>Current Interests</h4>
        {{object_interests|join:", "}}
       </div>
      </div>
 
    </div>

<div class="forth-column"> 
    <h4 class="description-title">Add location:</h4><br>
    <div class="actual-map">
    {{form.location}}
      <!-- <div id='map' style='width: 400px; height: 300px;'></div>
      {% block js %}
        <script>
          mapboxgl.accessToken = 'pk.eyJ1Ijoic2FoYXJhdnNoIiwiYSI6ImNreHFnZnNjdDJoaGwycnFrc2t4MDk1ZHUifQ.gYnfOJY6m0NQ1hsCSQUuAQ';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11'
          });
        </script>
      {% endblock js %} -->
    </div>

</div>
  </div>
</form>

{% endblock %}