{% extends "base_geo.html" %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/edit.css' %}">
  <!-- <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' /> -->
{% endblock styles %}

{% block title %}
{{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}
<form method="POST" action="." enctype='multipart/form-data'> {% csrf_token %}
  <div class="container">
    <div class="first-column">
      <div class="profile-picture">
        {% render_field form.image %}
          <h4 class="name-title">First name:</h4>
          {% render_field form.f_name %}
          <h4 class="name-title">Last name:</h4>
          {% render_field form.l_name %}
      </div>
    </div>

    <div class="second-column">
      <div class="occupation-general">
        <h4 class="occupation-title">Occupation:</h4>
        {% render_field form.occupation class+="occupation-box" %}
      </div>
      <div class="education-general">
        <h4 class="education-title">Education:</h4>
        {% render_field form.education class+="education-box" %}
      </div>
    </div>

    <div class="third-column">
      <input class="save-button" type="submit" name="profile" value="Save"/><br/>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'profile_look' pk=object.id %}">Cancel</a>
      </button>
      <div class="birthday-general">
        <h4 class="birthday-title">Date of Birth:</h4>
        {% render_field form.birthday class+="birthday-box" %}
      </div>
      <div class="description-general">
        <h4 class="description-title">Add a description:</h4>
        {% render_field form.description class+="description-box" %}
      </div>
      <div class="description-general">
        <h4 class="description-title">Add location:</h4>
          <!-- <div id='map' style='width: 400px; height: 300px;'></div>
          {% block js %}
            <script>
              mapboxgl.accessToken = 'pk.eyJ1Ijoic2FoYXJhdnNoIiwiYSI6ImNreHFnZnNjdDJoaGwycnFrc2t4MDk1ZHUifQ.gYnfOJY6m0NQ1hsCSQUuAQ';
              var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11'
              });
            </script>
          {% endblock js %} -->
          {% render_field form.location %}
      </div>
      <div class="description-general">
        <h4 class="description-title">Add skill and interests:</h4>
        <h5>You can add multiple skills/interests at the same time by writing multiple with comma between them</h5>
        {% render_field skill_form.skill_name %}
        {% render_field interest_form.interest_name %}
      </div>
      <div class="description-general">
        <h4 class="description-title">Remove skill and interests:</h4>
        <h5>You can remove multiple skills/interests at the same time by writing multiple with comma between them</h5>
        {% render_field skill_form.skill_name_remove %}
        {% render_field interest_form.interest_name_remove %}
      </div>
      <h4>Current Skills</h4>
      {{object_skills|join:", "}}
      <h4>Current Interests</h4>
      {{object_interests|join:", "}}
    </div>
  </div>
</form>
{{ form.media }}

{% endblock %}