{% extends "base.html" %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/friends.css' %}">
{% endblock styles %}


{% block title %}
Friends - {{block.super}}
{% endblock title %}

{% block content %}

{% if object_list.count > 0 %}
  {% for obj in object_list %}
    <div>
      <h4><a href="{%url 'profile_look' pk=obj.id %}">{{obj.f_name}} {{obj.l_name}}</a></h4>
      {% if object.id == request.user.profile.id %}
        <button class="save-button" type="button">
          <a class="button-link" href="{% url 'unfollow' profileID=obj.id %}">Unfollow!</a>
        </button>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  {% if object.id == request.user.profile.id %}
    <h4>You have no friends.</h4>
  {% else %}
    <h4><a href="{%url 'profile_look' pk=object.id %}">{{object.f_name}}</a> has no friends.</h4>
  {% endif %}
{% endif %}

{% endblock content %}
