{% extends "base.html" %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/notif.css' %}">
{% endblock styles %}


{% block title %}
Notifications - {{block.super}}
{% endblock title %}

{% block content %}

<h2>Friend Requests</h2>
{% if friend_list != None and friend_list.count > 0 %}
  {% for object in friend_list %}
    <div>
      <h4><a href="{% url 'profile_look' pk=object.profile_id.id %}">{{object.profile_id.f_name}}</a> wants to follow you!</h4>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'accept_follow_request' follow_request_id=object.id %}">Accept!</a>
      </button>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'decline_follow_request' follow_request_id=object.id %}">Decline!</a>
      </button>
    </div>
  {% endfor %}
{% else %}
    <h4>You have no friend requests.</h4>
{% endif %}

<h2>Join Requests</h2>
{% if offer_list != None and offer_list.count > 0 %}
  {% for object in offer_list %}
    <div>
      <h4><a href="{%url 'profile_look' pk=object.profile.id %}">{{object.profile.f_name}}</a> wants to join <a href="{%url 'offer_look' pk=object.offer.id %}">{{object.offer.title}}</a></h4>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'accept_join_request' join_request_id=object.id %}">Accept!</a>
      </button>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'decline_join_request' join_request_id=object.id %}">Decline!</a>
      </button>
    </div>
  {% endfor %}
{% else %}
    <h4>You have no join requests.</h4>
{% endif %}



{% endblock content %}
