{% extends "base.html" %}

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/notifications.css' %}">
{% endblock styles %}


{% block title %}
Notifications - {{block.super}}
{% endblock title %}

{% block content %}
<body>
  <div class="fader">
    <div class="friend-request">
<h2>Friend Requests</h2>
{% if friend_list != None and friend_list.count > 0 %}
  {% for object in friend_list %}
    <div>
      <h4><a href="{% url 'profile_look' pk=object.profile_id.id %}">{{object.profile_id.f_name}}</a> wants to follow you!</h4>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'accept_follow_request' follow_request_id=object.id %}">Accept!</a>
      </button>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'decline_follow_request' follow_request_id=object.id %}">Decline!</a>
      </button>
    </div>
  {% endfor %}
{% else %}
    <h4>You have no friend requests.</h4>
{% endif %}
</div>
<div class="join-request">
<h2>Join Requests</h2>
{% if offer_list != None and offer_list.count > 0 %}
  {% for object in offer_list %}
    {% load offer_extras %}
    {% if join_request_dict|get_item:object %}
      <div>
        <h4><a href="{%url 'profile_look' pk=object.profile.id %}">{{object.profile.f_name}}</a> wants to join <a href="{%url 'offer_look' pk=object.offer.id %}">{{object.offer.title}}</a></h4>
        <button class="save-button" type="button">
          <a class="button-link" href="{% url 'accept_join_request' join_request_id=object.id %}">Accept!</a>
        </button>
        <button class="save-button" type="button">
          <a class="button-link" href="{% url 'decline_join_request' join_request_id=object.id %}">Decline!</a>
        </button>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
    <h4>You have no join requests.</h4>
{% endif %}
</div>
<div class="outsatnding-review">
<h2>Outstanding Offer Reviews</h2>
{% if len_outstanding_reviews > 0 %}
  {% for offer in outstanding_offer_reviews %}
    <div>
      <h4> You have an outstanding review for <a href="{%url 'offer_look' pk=offer.id %}">{{offer.title}}</a></h4>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'rate_offer' offerID=offer.id %}">Review!</a>
      </button>
    </div>
  {% endfor %}
{% else %}
    <h4>You have no outstanding reviews.</h4>
{% endif %}

</div>
<div class="outstanding-offer">
<h2>Outstanding Offer Approvals</h2>
{% if outstanding_approvals.count > 0 %}
    {% for offer in outstanding_approvals %}
    <div>
      <h4> You have an outstanding approval for <a href="{%url 'offer_look' pk=offer.id %}">{{offer.title}}</a></h4>
      <button class="save-button" type="button">
        <a class="button-link" href="{% url 'approve_offer' offerID=offer.id %}">Go to approval!</a>
      </button>
    </div>
    {% endfor %}
{% else %}
    <h4>You have no outstanding approvals.</h4>
{% endif %}

{% if declined_join_requests.count > 0 %}
  <h2>Declined Join Requests</h2>
    <div>
      {% for d in declined_join_requests %}
        <h4>Unfortunately, you have not been accepted for <a href="{%url 'offer_look' pk=d.offer.id %}">{{d.offer.title}}</a></h4>
      {% endfor %}
    </div>
{% endif %}
</div>
</div>
</body>
{% endblock content %}
