{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/outlookDesign.css' %}">
{% endblock styles %}

{% block title %}
{{object.f_name}} - {{block.super}}
{% endblock title %}

<!-- Biography line -->

{% if messages %}
  {% for message in messages %}
    {{message}}
  {% endfor %}
{% endif %}

{% block content %}
  <div class="container">
    {% if object.image %}
    <div class="first-column">
      <style>
        .first-column {
          background-image: url('{{object.image.url}}');
          background-repeat: no-repeat;
        }
      </style>
      <!-- <img src="{{ object.image.url }}" > -->
    {% endif %}
      <div class="profile-picture">
        <p class="hello">Hello,</p>
        <h1>It's {{object.f_name}} {{object.l_name}}</h1>

        {% if address_flag and address != None %}
          <h3>Living in {{address}} </h3>
        {% else %}
          <h3>Location unknown</h3>
        {% endif %}

        {% if object.occupation %}
          <h3> Working as a(n) {{object.occupation}} </h3>
        {% else %}
          <h3>Occupation unknown</h3>
        {% endif %}

        {% if object.education %}
          <h3> Obtained {{object.education}} </h3>
        {% else %}
          <h3>Education unknown</h3>
        {% endif %}
      </div>
    </div>



      <!-- Self description part -->

      <div class="second-column">
        <div class="first-part">
          <h1 class="about-me">About Me</h1>
        </div>
        <div class="second-part">
          <h3>
            {% include "profiles/detail_snippet.html" with object=object %}
          </h3>
        </div>
      </div>

      <!-- Self interest and excel part -->

      <div class="info-column">
        {% load static %}
        <style>
          .info-column {
            background-image: url('/static/profiles/brush.jpeg');
            background-repeat: no-repeat;
          }
        </style>
        <div class="layer">
          <h2 class="interest-big">I am good at:</h2>
            <h3 class="elements">
              {{skill_list|join:", "}}
            </h3>
          <h2 class="interest-big">I am interested in:</h2>
            <h3 class="elements">
              {{interest_list|join:", "}}
            </h3>
            <div class="buttons">
              
                {% if object.id == user.id %}
                <button class="save-button" type="button">
                  <a class="button-link" href="{% url 'edit_view' %}">Edit</a>
                </button>
                {% else %}
                  <button class="save-button" type="button">
                    <a class="button-link" href="{% url 'send_message' profileID=object.id %}">Send message</a>
                  </button>
                  <button class="save-button" type="button">
                    <a class="button-link" href="{% url 'friends' profileID=object.id %}">Friends</a>
                  </button>
                  {% if user_friend_request != None %}
                    <button class="save-button" type="button">
                      <a class="button-link" href="{% url 'cancel_follow_request' follow_request_id=user_friend_request.id %}">Cancel friend request!</a>
                    </button>
                  {% elif object in user_friend_list %}
                    <button class="save-button" type="button">
                      <a class="button-link" href="{% url 'unfollow' profileID=object.id %}">Unfollow!</a>
                    </button>
                  {% else %}
                    <button class="save-button" type="button">
                      <a class="button-link" href="{% url 'send_follow_request' profileID=object.id %}">Follow!</a>
                    </button>
                  {% endif %}
                  <button class="save-button" type="button">Report this user!</button>
          
         
             
                  <button class="save-button" type="button">
                    <a class="button-link" href="{% url 'rate_reviews' profileID=object.id %}">Rate and Reviews</a>
                  </button>
                  <button class="save-button" type="button">
                    <a class="button-link" href="{% url 'activity_background' profileID=object.id %}">Activities</a>
                  </button>
             
                {% endif %}
            </div>
        </div>
      </div>
    </div>
{% endblock content %}
