{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profiles/rate_and_reviews.css' %}">
{% endblock styles %}

{% block title %}
Rate & Reviews - {{block.super}}
{% endblock title %}

{% block content %}
<body>
  

<div class="fader">

 <!-- RATE -->
<h1 class="big-header">User rating</h1>
<div class="rate">
  {% if object_list.count > 0 %}
    <p> {{ avg_rating }} average based on {{no_of_reviews}} reviews.</p>
      <p>5 star: {{five_stars}} reviews </p>
      <p>4 star: {{four_stars}} reviews </p>
      <p>3 star: {{three_stars}} reviews </p>
      <p>2 star: {{two_stars}} reviews </p>
      <p>1 star: {{one_stars}} reviews </p>
  {% else %}
    <p>There are no reviews.</p>
  {% endif %}
</div>

 <!-- review -->
 <h1 class="big-header">Received reviews</h1>
 <div class="review-general">
   <div class="provider">
 <h2 class="review ">As a offer provider</h2>

  {% if object_list.count > 0 %}
    {% for o in object_list %}
      {% if o.rating != 0 %}

    <h4 class="people">
      <a href="{%url 'profile_look' pk=o.review_giver.id %}"> {{o.review_giver}}</a> rated {{o.rating}} star for <a href="{%url 'offer_look' pk=o.offer.id %}"> {{o.offer.title}}</a> at {{o.created_at}}<br/>
    </h4>
    <p class="actualReview"> {{o.text}} </p>

      {% endif %}
    {% endfor %}
  {% else %}
    <p>There are no reviews of this kind.</p>
  {% endif %}
</div>
<h2 class="review">As a participant</h2>
  {% if participant_reviews.count > 0 %}
    {% for p in participant_reviews %}
    <h4 class="people">
      <a href="{%url 'profile_look' pk=p.offer.owner.id %}"> {{p.offer.owner.f_name}} {{p.offer.owner.l_name}} </a> rated {{p.rating}} star as the offer provider for <a href="{%url 'offer_look' pk=p.offer.id %}">{{p.offer.title}}</a> at {{p.created_at}}<br/>
    </h4>
    <p class="actualReview"> {{p.text}} </p>
    {% endfor %}
  {% else %}
    <p>There are no reviews of this kind.</p>
  {% endif %}
</div>
</div>
</body>
{% endblock content %}

