{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profilemessages/send-message.css' %}">
{% endblock styles %}

{% block title %}
  Inbox - {{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}

<div class="container">
  <div class="empty">
  </div>
  <div class="content">
    <div class="top">
    <h2>Search for specific messages</h2>
    <form method="POST" action="."> {% csrf_token %}
      {% render_field form.text %}
      <input class="save-button" type="submit" value="Go!"/>
      <button class="save-button" type="button">
        <a class="save-button" href="{%url 'inbox' %}">Reset filters</a>
      </button>
    </form>
  </div>
    <h1 class="inbox">Inbox</h1>
    <div class="message-content">
    {% if object_list.count > 0 %}
      {% for message in object_list %}
        <h3>From: <a href="{%url 'profile_look' pk=message.message_from.id %}">{{message.message_from.f_name}} {{message.message_from.l_name}}</a></h3>
        <h3>Title: {{message.title}} </h3>
        <h4>{{message.body}} </h4>
        <h5>Sent at: {{message.sent_at|date:'j-M-Y, g:i A (e)'}} </h5>
        <p>*************************************************</p>
      {% endfor %}
    {% else %}
      {% if not flag %}
        <h2>You have no messages.</h2>
      {% else %}
        <h2>No matches.</h2>
      {% endif %}
    {% endif %}
  </div>
    <div class="button">
      <button class="sent-messages" type="button">
        <a class="sent-messages" href="{% url 'sent_messages' %}">Sent messages</a>
      </button>
    </div>
  </div>  
</div>

{% endblock content %}