{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static '' %}">
{% endblock styles %}

{% block title %}
Send Message - {{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}
<form method="POST" action="." enctype='multipart/form-data'> {% csrf_token %}
  <h3>To: <a href="{%url 'profile_look' pk=to.id %}">{{to.f_name}} {{to.l_name}}</a></h3>
  {{form.as_p}}
  <input type="submit" value="Send!"/>
</form>
{% endblock content %}