{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profilemessages/send-message.css' %}">
{% endblock styles %}

{% block title %}
Send Message - {{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}
<form method="POST" action="." enctype='multipart/form-data'> {% csrf_token %}
  <div class="container">
    <div class="empty">
    </div>

    <div class="content">
      <h2 class="to">To: <a href="{%url 'profile_look' pk=to.id %}">{{to.f_name}} {{to.l_name}}</a> </h2>
      <div class="title">
        <h3>Title:</h3>
        {{form.title.errors}}
        {% render_field form.title class+="title-box" %}
      </div>
    
      <div class="body">
        <h3>Body:</h3>
        {{form.body.errors}}
        {% render_field form.body class+="body-box" %}
      </div>

      <div class="button">
        <input class="send-button" type="submit" value="Send!"/>
      </div>
    </div>  
  </div>
</form>
{% endblock content %}