{% extends "base.html" %} 

{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'profilemessages/send-message.css' %}">
{% endblock styles %}

{% block title %}
Sent Messages - {{block.super}}
{% endblock title %}

{% load widget_tweaks %}
{% block content %}

<div class="container">
  <div class="empty">
  </div>
  <div class="content">
    <div class="top">
    <h2>Search for specific messages</h2>
    <form method="POST" action="."> {% csrf_token %}
      {% render_field form.text %}
      <input class="save-button" type="submit" value="Go!"/>
      <button class="save-button" type="button">
        <a class="save-button" href="{%url 'sent_messages' %}">Reset filters</a>
      </button>
    </form>
  </div>

    <h1>Sent Messages</h1>
    <div class="message-content">
    {% if object_list.count > 0 %}
      {% for message in object_list %}
        <h3>To: <a href="{%url 'profile_look' pk=message.message_to.id %}">{{message.message_to.f_name}} {{message.message_to.l_name}}</a></h3>
        <h3>Title: {{message.title}} </h3>
        <h4>Body: {{message.body}} </h4>
        <h5>Sent at: {{message.sent_at|date:'j-M-Y, g:i A (e)'}} </h5>
        <p>*************************************************</p>
      {% endfor %}
    {% else %}
      {% if not flag %}
        <h2>You have no sent messages.</h2>
      {% else %}
        <h2>No matches.</h2>
      {% endif %}
    {% endif %}
  </div>
  </div>  
</div>

{% endblock content %}
